* {
  margin: 0;
  padding: 0;
 }

 .red-border{
   border: 0.18rem solid rgb(144, 0, 0);
   border-radius: 1.25rem
 }

 .red-text{
  font-family: 'Lato', sans-serif;
  color: rgb(144, 0, 0)!important;
  font-weight: bold;
 }

 .white-text{
  font-family: 'Acme', sans-serif;
  color: white
 }

 .grey-text{

  font-family: 'Lato', sans-serif;
  color:rgb(73, 80, 87)
 }

.grey-text-bold{
   font-family: 'Lato';
   color: rgb(73, 80, 87);
   font-weight: bold;
 }

 .bg-red{
  background-color: rgb(144, 0, 0);
 }

 .bg-grey{
   background-color:  rgb(242, 244, 247)
 }

.bg-white{
  background-color: white;
}

.div-height{
  height: 100%;
}

.img-size{
  width: 6.25rem;
  height: 6.25rem;  
}

.text-small{
  font-size: 1rem;
}


.text-large{
  font-size: 1.2rem;
}

.btn-border{
  border: 0.125rem solid rgb(144, 0, 0);
  border-radius: 0.625rem;
  background-color: transparent;
}

.nav-tabs a  {
  color: rgb(144, 0, 0);
}

.border-card{
  border: 0.125rem solid rgb(73, 80, 87);
}

.input-border{
  border: none;
  border-bottom: 0.125rem solid rgb(73, 80, 87);
  color: black
  
}

::placeholder{
  color: rgb(73, 80, 87);  
  font-family: 'Lato';
  font-weight: bold;
}

.card-width{
  width: 12rem;
}
